

main{
    width: calc(100% /6);

    h3{
        font-size: $font-size;
        text-transform: uppercase;
        color: #fff;
    }
        img{
        width: 160px;
        height: 160px;
    }
   
    }

