

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: $main-font;
}

.container {
    width: 1000px;
    margin: 0;
    display: flex;
    margin: 0 auto;
}

main{
    background-color:$back-1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    background-color:$back-2;
}
